@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'variables.scss';

body {
  color: $font-color;
  background-color: #fff;
}

button {
  background-color: $bg-purple;
  &:hover {
    opacity: 0.8;
  }
}

.label {
  background-color: $bg-purple;
  color: #fff;
}

nav {
  background-color: $bg-pink;
  color: $text-yellow;
  button {
    background-color: $text-yellow;
    color: #fff;
  }
}

footer {
  background-color: $bg-purple;
  color: $font-color;
}

h1 {
  color: $text-green;
}

h2 {
  color: $text-yellow;
}

h3 {
  color: $text-yellow;
}

.bg-100vw {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.grid-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  grid-gap: 2rem;
}
