@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'variables.scss';

body {
  color: $font-color;
  background-color: #fff;
}

.bg-100vw {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.grid-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  grid-gap: 2rem;
}
