// メンカラ
$ruka: #f2a2c8;
$hazuki: #fbcc7e;
$ririka: #7ec8d9;
$nanase: #8abf92;
$miri: #c6a4c6;

$bg-pink: #fbdfe0;
$bg-purple: #e1c4da;

$font-color: #43322d;
$text-yellow: #dba926;
$text-green: #b4d6d4;
